.group {
  padding: 1rem;
  .img {
    text-align: center;
    img {
      border-radius: 0.6rem;
    }
  }
  .back {
    color: inherit;
    text-decoration: none;
    span {
      color: var(--primary);
    }
    &:hover {
      color: var(--primary);
      text-decoration: underline;
    }
  }
}
