#top {
  padding: 0.6rem;
}

.tile {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .card {
    background-color: var(--card);
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 5px;
    min-width: 14rem;
    button {
      cursor: pointer;
      border: none;
      color: var(--text-primary);
      background-color: var(--primary);
      padding: 0.3rem;
      border-radius: 5px;
      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }
}
