body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--base);
  #root {
    margin: 0.6rem;
    h2,
    h3 {
      margin-bottom: 0.6rem;
      border-bottom: 1px solid var(--primary);
    }
    > header {
      top: 0;
      position: sticky;
      background-color: var(--primary);
      color: var(--text-primary);
      border-radius: 1rem;
      > div {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0.4rem 0.6rem;
        &:hover {
          color: var(--text-primary-hover);
        }
        h1 {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
        img {
          height: 3rem;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
