body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--base);
  > header {
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    margin: 0.6em;
    background-color: var(--primary);
    color: var(--text-primary);
    padding: 0.4em 0.6em;
    border-radius: 14px;
    img {
      height: 3.6em;
      margin-right: 0.4em;
    }
  }
}
